/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slick-list {
  overflow: visible !important;
} */

.sidebar-item {
    @apply flex items-center gap-3 px-4 py-2 rounded-lg text-gray-300 hover:bg-[#1A1A1A] transition;
}

.sidebar-item-active {
    @apply flex items-center gap-3 px-4 py-2 rounded-lg bg-[#0051FF] text-white transition;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-scaleIn {
    animation: scaleIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.15s ease-out;
}
